*, ::after, ::before
{
	/* removed default styling */
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: 0;
	background: none;
	font-family: starborn;
	box-sizing: border-box;
	color: white;
	font-size: 100%;
	list-style-type: none;
	text-transform: uppercase;
}

*:focus
{
	/* removed default styling */
	outline: none;
}

html, body
{
	min-height: 100%;
	background-color: var(--beanaPinkDark);
	overflow-x: hidden;
}

h1
{
	font-weight: normal;
	text-shadow: 0px 4px rgba(0, 0, 0, .25);
}

@keyframes header-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header
{
	width: 100vw;
	background: linear-gradient(45deg, var(--beanaPurple), var(--beanaPink), var(--beanaPurple), var(--beanaPink));
	background-size: 800vw 600vh;
	animation: header-gradient 8s ease infinite;
	padding: 25px 0px;
}

#sponsor-inqury
{
	text-align: center;
	margin-top: 30px;

}

#sponsor-inqury h2
{
	font-size: 1.7em;
font-family: Courier New;
}

#sponsor-inqury a
{
	font-size: 1.1em;
	font-family: Courier New;
}

#sponsor-inqury a:hover
{
	text-decoration: underline;
}

.minecraft
{
	font-family: minecraft;
	text-transform: lowercase;
	text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, .5);
	background-color: rgba(0, 0, 0, .25);
	padding: 2px 10px;
}

.minecraft i
{
	font-family: minecraft-italic;
	text-transform: lowercase;
	color: lightgray;
}

#server-map
{
	background-image: url('../images/minecraft/map.jpg');
	background-size: cover;
	background-position: center;
}

#header-content
{
	position: relative;
	color: white;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 256px 54vw auto;
	grid-template-rows: auto auto;
	gap: 10px 40px;
	grid-template-areas:
		"left-margin logo title right-margin"
		"left-margin logo socials right-margin";
}

#header-content .left-margin
{
	grid-area: left-margin;
}

#header-content .right-margin
{
	grid-area: right-margin;
}


#header-content img
{
	width: 100%;
	grid-area: logo;
}

#header-content h1
{
	grid-area: title;
	font-size: 7vw;
}

#header-content ul
{
	grid-area: socials;
}

#header-content ul img
{
	height: 80px;
	width: auto;
	padding: 0 5px;
	opacity: .9;
}

#header-content ul img:hover
{
	transform: rotate(0deg) !important;
	opacity: 1;
}

#header-content ul>li:nth-child(odd) img
{
	transform: rotate(5deg);
}

#header-content ul>li:nth-child(even) img
{
	transform: rotate(-5deg);
}

#header-content ul li
{
	display: inline-block;
}

#Warning18
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.90);
	top: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
	padding: 45vh 10px 0;
	box-sizing: border-box;
}

#Warning18 h1
{
	margin-bottom: 30px;
	font-size: 2em;
	box-sizing: border-box;
}

#Warning18 button
{
	padding: 25px 35px;
	background-color: black;
	color: white;
	border-radius: 15px;
	margin:  0 15px;
	font-size: 1.5em;
	box-sizing: border-box;
	border: 3px solid black;
}

.hide
{
	display: none;
}


#Warning18 button:hover
{
	cursor: pointer;
	border: 3px solid white;
}

#navbar
{
	display: block;
	text-align: center;
	background-color: var(--beanaPink);
	z-index: 100;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
}

#navbar li
{
	color: var(--beanaPurple);
	display: inline-block;
	height: 100%;
	line-height: 80px;
	font-size: 20px;
	padding: 0 20px;
	text-shadow: 0px 1.5px 0px rgba(0,0,0,.2);
	height: 80px;
}

#navbar li:hover
{
	cursor: pointer;
	color: white;
}

#body-content
{
	width: 85vw;
	margin: 40px auto;
}

.newtab-icon
{
	height: 20px;
	padding: 0px 12px;
	margin: 0 0 1px;
}

.twitch
{
	margin-bottom: 30px;
}

.twitch .twitch-video
{
	padding-top: 56.25%;
	position: relative;
	height: 0;
}

.twitch .twitch-video iframe
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.twitch .twitch-chat
{
	height: 400px;
}

.twitch .twitch-chat iframe
{
	width: 100%;
	height: 100%;
}


@media screen and (min-width: 850px) {
  .twitch {
    position: relative;
    margin-bottom: 0px;
  }

  .twitch .twitch-video {
    width: 75%;
    padding-top: 42.1875%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.card
{
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	border-radius: 25px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
	transition: .1s;
}

a img:hover, a iframe:hover, a div:hover
{
	transition: transform .2s;
	filter: brightness(0.9);
	transform: scale(1.025);
	cursor: pointer;
}

.qr-code
{
	position: absolute;
	height: 110px !important;
	padding: 0 !important;
	margin: 0;
	top: 95px;
	left: -10px;
	filter: opacity(95%);
	box-shadow: var(--perspectiveBoxShadow);
	z-index: 1;
}

.socials li
{
	position: relative;
}

.socials li img:hover
{
	transition: 0s !important;
}

.card-small
{
	width: 48%;
	height: 450px;
	float: left;
	margin: 0 1% 2%;
}

.card-thin-container
{
	display: table;
	border-spacing: 20px;
	min-height: 500px;
	margin: 0 0 2%;
}

.card-thin
{
	width: 23%;
	text-align: center;
	padding: 30px 15px 80px;
	display: table-cell;
}

.card-margin
{
	margin: 0 2% 2% 0;
}

.card-thin tr>td:nth-child(odd)
{
	float: left;
	background: black;
	padding: 5px 10px;
	font-size: .75em;
	border-radius: 15px;
}

.card-thin tr>td:nth-child(even)
{
	float: right;
}

.card-thin h1
{
	background-image: none !important;
	padding: 0 0 30px !important;
}

.card-thin img
{
	height: 120px;
	margin-bottom: 30px;
}

.card-thin li
{
	margin-bottom: 8px;
}

.card-large
{
	width: 98%;
	display: block;
	height: 450px;
	float: left;
	left: 1%;
	margin: 0 0 2%;
	overflow-y: hidden !important;
}

.card iframe
{
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.card h1
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.75em;
	padding: 50px 25px 20px;
	width: 100%;
	background-image: linear-gradient(0deg, black, transparent);
	pointer-events: none;
}

.card h1 aside
{
	color: lightgray;
	font-size: 0.6em;
}

.card-large h1
{
	background-image: linear-gradient(3deg, black,transparent, transparent);
}

#ads
{
	display: block;
	width: 100%;
	text-align: center;
}

.ad
{
	width: 512px;
	border-radius: 15px;
	display: inline-block;
	margin: 0px 10px 5px;
}

.bad-emphasis
{
	text-shadow: 0 1.5px 0px rgba(150, 0, 0, 0.5);
}

.good-emphasis
{
	text-shadow: 0 1.5px 0px rgba(0, 150, 0, 0.5);
}

#join-server
{
	transition: background 1s ease-in, transform .2s;
}

.questionare
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding: 30px 0px;
	
	text-align: center;
	pointer-events: initial;
}

.questionare h1
{
	font-size: 2em;
	padding: 10px;
}

.answers
{
	display: table;
	border-spacing: 5vw;
	width: 100%;
}

.answers div
{
	height: 512px;
	width: 33.33%;
	background-color: rgba(0, 0, 0, 0.1);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	display: table-cell;
	vertical-align:bottom;
	padding: 15px;
	font-size: 1.5em;
	transition: transform .25s;
}

.answers div:hover
{
	cursor: pointer;
	transform: scale(1.05);
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px solid var(--beanaPurple);
	transition: transform .5s, background-color .5s;
}


.tutorial
{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding: 30px 0px;
	
	text-align: center;
	pointer-events: initial;
}

.tutorial h1
{
	font-size: 2em;
	padding: 5px;
}

.tutorial p
{
	padding: 5px;
}

.tutorial img
{
	width: 60%;
	max-width: 1000px;
	margin-bottom: 30px;
}

#schedule
{
	width: 100%;
	margin: 30px 0px;
}

#staff-apply
{
	background-image: url('../images/minecraft/applyforadmin.jpg');
	background-size: cover;
	background-position: left bottom;
}

#dedicated-mc
{
	background-image: url('../images/minecraft/dedicatedmc.jpg');
	background-size: cover;
	background-position: center;
}