/*********
* FONTS *
*********/
@font-face 
{
	font-family: product-sans-bold;
	src: url('../fonts/productsansbold.ttf');
}
@font-face 
{
	font-family: product-sans;
	src: url('../fonts/productsansregular.ttf');
}
@font-face 
{
	font-family: starborn;
	src: url('../fonts/starborn.ttf');
}

/*************
* VARIABLES *
*************/
:root
{
	/* common colors */
	--beanaPink: rgb(255, 160, 243);
	--beanaPurple: rgb(179, 117, 255);

	/* box shadows */
	--perspectiveBoxShadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	--centeredBoxShadow: 0 0px 10px rgba(0, 0, 0, .25);
	--innerBoxShadow: inset 0 0 10px rgba(0, 0, 0, .25);
}